<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">
	
<head>

	<title>Cadastro do Imóvel</title>

</head>

<body>
	
<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro do Imóvel
				</h1>
			</div>
		</div>

		<div class="container-fluid">

			<!-- <div class="alert  alert-danger  alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado.
			</div> -->

			<form method="POST" th:object="${imovel}" class="form-vertical  js-form-loading">
			
<!-- 			<div  class="well well-small">			 -->
<!-- 				<div class="row"> -->
<!-- 					<div class= "col-sm-6 form-group"> -->
<!-- 						<label for="proprietario">Proprietário</label> -->
<!-- 						<div class="sc-field-action"> -->
<!-- 							<select id="proprietario" class="form-control"> -->
<!-- 								<option value="">Selecione o proprietario</option> -->
<!-- 							</select> -->
							
<!-- 							<div class="sc-field-action-icon"> -->
<!-- 								<a href="#" data-toggle="modal" data-target="#modalProprietario"> -->
<!-- 									<i class="glyphicon  glyphicon-plus-sign  sc-glyphicon-large"></i> -->
<!-- 								</a> -->
<!-- 							</div> -->
							
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
			
				
<!-- 				<div class="row">	 -->
<!-- 					<div class= "col-sm-6 form-group"> -->
<!-- 						<label for="Endereco">Endereco do imóvel</label> -->
<!-- 						<div class="sc-field-action"> -->
<!-- 							<select id="endereco" class="form-control"> -->
<!-- 								<option value="">Selecione o endereço</option> -->
<!-- 							</select> -->
							
<!-- 							<div class="sc-field-action-icon"> -->
<!-- 								<a href="#" data-toggle="modal" data-target="#modalEndereco"> -->
<!-- 									<i class="glyphicon  glyphicon-plus-sign  sc-glyphicon-large"></i> -->
<!-- 								</a> -->
<!-- 							</div> -->
							
<!-- 						</div>	 -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
		
			<h4>Atributos do imóvel</h4>
		
			<div  class="well well-small">
			
				<div class="row">
									
					<div class="col-sm-2  form-group">
						<label for="codigosc">Código SC</label>
						<div class="input-group">
							<div class="input-group-addon">sc</div>
							<input id="codigosc" type="text" class="form-control js-inteiro" th:field="*{codigosc}"/>
						</div>
					</div>
					
					<div class="col-sm-2  form-group">
						<label for="tipo_imovel">Tipo do imóvel</label>
						<select id="tipo_imovel" class="form-control" th:field="*{tipoImovel}">
							<option th:each="tipoImovel : ${tipoImoveis}" th:value="${tipoImovel}" th:text="${tipoImovel.enum_tipoImovel}"></option>
						</select>
					</div>
					
					<div class="col-sm-2  form-group">
						<label for="classificacao">Classificacao</label>
						<select id="classificacao" class="form-control" th:field="*{classificacao}">
							<option th:each="classificacao : ${classificacoes}" th:value="${classificacao}" th:text="${classificacao.enum_classificacao}"></option>
						</select>
					</div>
					
				</div>
	
				<div class="row">
				
					<div class= "col-sm-2 form-group">
						<label for="matricula">Matrícula</label>
						<input id="matricula" type="text" class="form-control js-inteiro" th:field="*{matricula}"></input>
					</div>
					
					<div class= "col-sm-2 form-group">
						<label for="inscricao">Inscrição imobiliária</label>
						<input id="inscricao" type="text" class="form-control js-inteiro" th:field="*{inscricaoImobiliaria}"></input>
					</div>
				
					<div class= "col-sm-2 form-group">
						<label for="data_captacao">Data de Captação</label>
						<input id="data_captacao" type="text" class="form-control"></input>
					</div>
					
				</div>	
				
				<div class="row">
				
					<div class= "col-sm-2 form-group">
						<label for="idade_imovel">idade do imóvel</label>
						<div class="input-group">
							<input id="idade_imovel" type="text" class="form-control js-inteiro" th:field="*{idadeImovel}"></input>
							<div class="input-group-addon">anos</div>
						</div>
					</div>
					
					<div class="col-sm-2  form-group">
						<label for="destinacao">Destinação</label>
						<select id="destinacao" class="form-control" th:field="*{destinacao}">
							<option th:each="destinacao : ${destinacoes}" th:value="${destinacao}" th:text="${destinacao.getEnum_destinacao()}"></option>
						</select>
					</div>
					
					<div class= "col-sm-2 form-group">
						<label for="area_total">Área total</label>
						<div class="input-group">
							<input id="area_total" type="text" class="form-control js-decimal" th:field="*{areaTotal}"></input>
							<div class="input-group-addon">M²</div>
						</div>
					</div>
				
				</div>	
				
				<div class="row">
				
					<div class="col-sm-2  form-group">
						<label for="situacao">Situação</label>
						<select id="situacao" class="form-control" th:field="*{situacao}">
							<option value="">Selecione</option>
							<option th:each="situacao : ${situacoes}" th:value="${situacao}" th:text="${situacao.getEnum_situacao()}"></option>
						</select>
					</div>
					
					<div class="col-sm-2  form-group">
						<label for="conservacao">Conservação</label>
						<select id="conservacao" class="form-control" th:field="*{conservacao}">
							<option value="">Selecione</option>
							<option th:each="conservacao : ${conservacao}" th:value="${conservacao}" th:text="${conservacao.getEnum_conservacao()}"></option>
						</select>
					</div>
					
					<div class= "col-sm-2 form-group">
						<label for="garagem">Garagem</label>
						<div class="input-group">
							<input id="garagem" type="text" class="form-control js-inteiro" th:field="*{garagem}"></input>
							<div class="input-group-addon">vagas</div>
						</div>
					</div>	
				</div>	
				
				<br></br>
				
				<div class="row">
				
				<div class="col-lg-2 col-sm-6">
						<label for="status">Status do Imóvel</label>
						<div>
							<th:block th:each="status : ${statusImovel}">
								<div class="radio radio-inline">
									<input th:id="|id_${status}|" type="radio" th:value="${status}" th:field="*{status_imovel}"/> <!-- PIPE para concatenar Strings id+... -->
									<label th:for="|id_${status}|" th:text="${status.getStatus_imovel()}">Ativo</label>
								</div>
							</th:block>
						</div>
					</div>
					
					<div class="col-lg-3 col-sm-6">
						<label for="status">Exclusividade do Imóvel</label>
						<div>
							<th:block th:each="exclusividade : ${exclusividadeImovel}">
								<div class="radio radio-inline">
									<input th:id="|id_${exclusividade}|" type="radio" th:value="${exclusividade}" th:field="*{exclusividade_imovel}"/> <!-- PIPE para concatenar Strings id+... -->
									<label th:for="|id_${exclusividade}|" th:text="${exclusividade.getImovel_exclusividade()}">Exclusividade</label>
								</div>
							</th:block>
						</div>
					</div>
				
				</div>
				
				<br></br>
				
				<div class="row">
					<div class="col-lg-6  col-sm-6">
						<label for="nomecorretor">Nome do corretor</label>
						<select id="nomecorretor" class="form-control" th:field="*{usuario}">
							<option th:each="usuario : ${usuario}" th:value="${usuario.getIdUsuario()}" th:text="${usuario.getNome()}" class="form-control"></option>
						</select>
					</div>
				</div>
					
			</div>	
			
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
		
			</form>
		</div>
		
<!-- 		<div th:replace="modal/modalProprietario :: modalProprietario"></div> -->
<!-- 		<div th:replace="modal/modalEndereco :: modalEndereco"></div> -->
	</section>

</body>
</html>