

/*
######################
# UTILIDADES
######################
*/
.sc-glyphicon-large {
	font-size: 18px;
}

.sc-required > .control-label:after {
	content: "*";
}


/*
######################
# COMPONENTES
######################
*/

/* Field Action */
.sc-field-action {
	display: flex;
}

.sc-field-action-icon {
	margin: 6px 0 0 5px;
}


/*CUSTOMIZAÇÃO DE COMPONENTES*/


.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 
}

