<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">
<head>

<title>Cadastro de Proprietário</title>

</head>

<body>
	
<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de Proprietário
				</h1>
			</div>
		</div>

		<div class="container-fluid">


			<form method="POST" th:object="${proprietario}" class="form-vertical  js-form-loading">
			
				<th:block th:include="fragments/MensagemSucesso"></th:block> 		<!-- Mensagem de sucesso -->
				<th:block th:include="fragments/MensagensErroValidacao"></th:block> <!-- Mensagem de validacao -->
		
				<div class="row">
									
					<div class="col-sm-6  form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<label for="nome" class="control-label">Nome do proprietario</label>
						<input id="nome" type="text" class="form-control" placeholder="XX9999" th:field="*{nome}"/>
					</div>
				</div>
	
				<div class="row">
				
					<div class= "col-sm-2 form-group" th:classappend="${#fields.hasErrors('cpf')} ? has-error">
						<label for="cpf_prop" class="control-label">cpf do proprietário</label>
						<input id="cpf_prop" type="text" class="form-control jsmask-cpf" th:field="*{cpf}"></input>
					</div>
				</div>	
					
				<div class="row">	
					<div class= "col-sm-2 form-group" th:classappend="${#fields.hasErrors('telefone_fixo')} ? has-error">
						<label for="tel_1" class="control-label">Telefone</label>
						<input id="tel_1" type="text" class="form-control js-phone-number" th:field="*{telefone_fixo}"></input>
					</div>
				</div>
				
				<!-- <div class="row">
					<div class= "col-sm-2 form-group" th:classappend="${#fields.hasErrors('telefone_celular')} ? has-error">
						<label for="tel_2" class="control-label">Telefone celular</label>
						<input id="tel_2" type="text" class="form-control js-phone-number" th:field="*{telefone_celular}"></input>
					</div>
				</div> -->
				
				<div class="row">
					<div class= "col-sm-6 form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
						<label for="email" class="control-label">Email do proprietário</label>
						<input id="text" type="text" class="form-control" th:field="*{email}"></input>
					</div>
				</div>
					
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
		
			</form>
		</div>
	</section>

</body>
</html>